php:
	date.timezone: Europe/Prague

application:
	errorPresenter: Project:Error
	mapping:
		*: App\*Module\Presenters\*Presenter

session:
	debugger: true
	expiration: 30 minutes

services:
	- App\Grid\IEventGridFactory
	repository: App\Service\ProjectModelRepository
	router: App\RouterFactory::createRouter

parameters:
	admin:
		menu:
			Události: [':Admin:Event:', calendar-check]
	customTemplatesDir: %appDir%/templates/

migrations:
	groups:
		project.structure:
			directory: %appDir%/migrations/structure

forms:
    messages:
        EQUAL: 'Zadejte %s.'
        MIN_LENGTH: 'Minimální počet znaků je %s.'
        MAX_LENGTH: 'Maximální počet znaků je %s.'
        FILLED: 'Musíte vyplnit %label'
        REQUIRED: 'Musíte zadat %label'
        EMAIL: 'Musíte zadat platný e-mail'