{block content}
<section>
    <div class="container">

        <h1 n:block=title>Stránka nenalezena</h1>

        <p>Hledanou stránku nebylo možné najít. Zkontrolujte si prosím, zda jste zadali správnou adresu. Pokud ano, hledaná stránka byla pravděpodobně smazána.</p>

        <a n:href="Homepage:default" class="btn btn-primary">Vrátit se zpět na úvodní stránku</a>

    </div>
</section>